.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  justify-content: left;
  text-align: left;
}

.form-group {
  width: 400px;
  margin: 0 auto;
}

.spaced {
  margin-top: 2rem;
}

body {
  background-color: #f9fa;
}
