<div class="chat-container">
  <div class="messages">
    <div *ngFor="let message of messages, let i=index">
      <span (click)="onMessageClick(message.sender, i)">
      <strong>{{ message.sender }}:</strong> {{ message.content }}
      </span>
      <span *ngIf="isMessageSeen[i]">Seen</span>
    </div>
  </div>
  <div *ngIf="isTyping && this.sender !== this.receiver" class="typing-notification">
    {{ typingMessage }}
  </div>
  <input [(ngModel)]="receiver" placeholder="Send to">
  <input [(ngModel)]="message" placeholder="Type a message..." (input)="onTyping()">
  <button (click)="sendMessage()">Send</button>
</div>
